@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #010409;

    font-family: "DM Sans", serif;
}

:root
{
    --cor-principal: #3271D0;
}

/* ESTILIZAÇÃO DO PRIMEIRO BLOCO (FOTO, CAIO NOBILE, DEV, GIT ,INSTA E LINKEDIN */

.banner {
    width: 100%;
    height: 140px;
    z-index: 3;
}


.container-introducao
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 50px; */
    z-index: 1;
    
    background-color: transparent;
    position: relative;
    right: 250px;
    bottom: 80px;
}

.container-titulo {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.container-introducao h1,p
{
    color: white;
}

.container-introducao p
{
    position: relative;
    top: 35px;
    right: 180px;
}

.container-introducao h1
{
    font-size: 35px;
    margin-left: 20px;
}

.img-caio
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 15px;
    object-fit: cover;

    /* BORDA AZUL DA IMAGEM */
    border: 2px solid var(--cor-principal);
    padding: 10px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.img-caio:hover
{
    transform: scale(1.04);
}

.icons
{
    display: flex;
    gap: 15px;
    position: relative;
    bottom: 50px;
}

.icons i {
    font-size: 25px;
}

.botoes-d-c
{
    padding: 10px;
    background-color: var(--cor-principal);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.botoes-d-c:hover
{
    background-color: #1b4e99;
}

.conteudo-botoes
{
    margin-top: 25px;
    margin-bottom: 230px;
}


.icons a
{
    transition: 0.3s ease-in-out;
}

.icons a:hover
{
    transform: scale(1.1);
}

/* ESTILIZAÇÃO DO SEGUNDO BLOCO (SOBRE MIM) */

.h1-sobremim
{
    color: white;
    margin: 20px;
    /* border-bottom: 2px solid var(--cor-principal); */
    text-align: center;
}

.conteudo-sobremim
{
    margin: 20px;
    text-align: center;
}

/* ESTILIZAÇÃO DO TERCEIRO BLOCO (SKILLS) */

.h1-skills
{
    color: white;
    margin: 20px;
    text-align: center;
    /* border-bottom: 2px solid var(--cor-principal); */
}

.conteudo-skills
{
    margin: 20px;
}

.itens-skills {
    color: white;
}

.itens-skills i {
    font-size: 16px;
}

.itens-skills i, span {
    background-color: #111314;
    padding: 10px;
    border-radius: 6px;
}

.itens-skills span {
    padding: 7px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* .progress
{
    background-color: #86666627;
    border-radius: 8px;
} */

/* ESTILIZAÇÃO DO QUARTO BLOCO (EXPERIENCIA PROFISSIONAL) */


.h1-experiencia
{
    color: white;
    /* border-bottom: 2px solid var(--cor-principal); */
    margin: 20px;
    text-align: center;
    margin-top: 50px;
}

.conteudo-experiencia {
    justify-content: center;
}

.empresas {
    background-color: #111314;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 6px;
    padding: 7px;
    text-align: center;

    width: 280px;
    padding: 15px;
}

.empresas .cargo {
    font-size: 13px;
}

.empresas .datas {
    font-size: 12px;
}

.empresas h3
{
    color: white;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
    background-color: transparent;
    font-weight: 500;
}

.empresas p
{
    color: white;
    /* margin-left: 20px; */
    background-color: transparent;
}

/* ESTILIZAÇÃO QUINTO BLOCO (PROJETOS) */

.h1-projetos
{
    margin: 20px;
    margin-top: 50px;
    color: white;
    text-align: center;
    /* border-bottom: 2px solid var(--cor-principal); */
}

.projetos {
    width: 210px;
    height: 300px;
}

.projetos img {
    object-fit: cover;
    border-radius: 5px;
    width: 210px;
    height: 210px;
}

.tecnologias {
    margin-top: 5px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.itens-tecnologia span {
    color: white;
    padding: 0;
    background-color: #111314;
    border-radius: 4px;
}

.itens-tecnologia i {
    background-color: #111314;
    padding: 5px; 
    border-radius: 4px;   
}

.conteudo-projetos
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.btn-mostrarmais
{
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--cor-principal);
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
    margin-top: 70px;
}

.btn-mostrarmais:hover
{
    background-color: #1b4e99;
}


/* ESTILIZAÇÃO DO SEXTO BLOCO (FORMULÁRIO) */

.h1-contato
{
    color: white;
    margin: 20px;
    /* border-bottom: 2px solid var(--cor-principal); */
    margin-top: 50px;
    text-align: center;
}


form
{
    color: white;
    margin: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo-form input
{
    color: white;
    border: none;
    border-bottom: 1px solid var(--cor-principal);
    outline: none;
    padding: 5px;   
    margin-bottom: 5px;
}

.conteudo-form textarea
{
    color: white;
    border: 1px solid var(--cor-principal);
    outline: none;
    padding: 5px;
    border-radius: 6px;
}

.btn-enviar
{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor-principal);
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
    cursor: pointer;
}

.btn-enviar:hover
{
    background-color: #1b4e99;
}


/* FOOTER */

footer p
{
    margin-top: 50px;
    background-color: #111314;
    text-align: center;
    padding: 12px;
}

.cv-phone {
    display: none;
}

.container-introducao-responsive {
    display: none;
}


/* APLICANDO RESPONSIVIDADE */

@media  (max-width: 1104px) {
    .conteudo-projetos
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .conteudo-experiencia
    {
        display: flex;
        flex-wrap: wrap;
    }


    .projetos img
    {
        width: 210px;
        height: 210px;
    }

    .container-skills {
        margin: 10px;
    }

    .conteudo-sobremim {
        text-align: justify;

    }

    .projetos {
        margin-top: 20px;
    }

    .cv {
        display: none;
    }

    .container-introducao {
        /* display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        
        background-color: transparent;
        position: relative;
        left: 70px;
        bottom: 80px;
        white-space: nowrap; */
        display: none;
    }   

    .container-introducao img {
        width: 170px;
        height: 170px;
    }

    .icons {
        margin-top: 15px;
        margin-left: 32px;
    }


    .container-introducao-responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;
        
        align-items: center;
        bottom: 105px;
        gap: 14px;
        background-color: transparent;
        
    }

    .container-titulo-responsive {
        text-align: center;
        color: white;
        background-color: transparent;
    }
    
    .icons-responsive {
        font-size: 25px;
    }

    .icons-responsive a {
        margin-inline: 8px;
    }

    .icons-responsive {
        padding-inline: 50px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .cv-phone {
        display: flex;
        position: relative;
        top: 2px;
        background-color: transparent;
    }

    .cv-phone i {
        font-size: 25px;
        position: relative;
        top: 5px;
        background-color: transparent;
        margin-left: 5px;
    }

} 

@media only screen and (min-width: 800px) and (max-width: 1440px)
{
    /* SOBRE MIM */
    .container-sobremim
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* SKILLS */
    .container-skills
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* EXPERIENCIA */
    .container-experiencia
    {
        margin-left: 10%;
        margin-right: 10%;
    }

    .conteudo-experiencia
    {
        display: flex;
        flex-wrap: wrap;
    }

    /* PROJETOS */

    .container-projetos
    {
        margin-left: 10%;
        margin-right: 10%;
    }

    .conteudo-projetos
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    

    /* FORMULARIO */

    .container-form
    {
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media only screen and (min-width: 1440px) and (max-width: 2500px)
{
    /* SOBRE MIM */
    .container-sobremim
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }

    /* SKILLS */
    .container-skills
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }

    /* EXPERIENCIA */
    .container-experiencia
    {
        margin-left: 25%;
        margin-right: 25%;
    }

    .conteudo-experiencia
    {
        display: flex;
        flex-wrap: wrap;
    }

    /* PROJETOS */

    .container-projetos
    {
        margin-left: 25%;
        margin-right: 25%;
    }

    .conteudo-projetos
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projetos img
    {
        width: 210px;
        height: 210px;
    }

    /* FORMULARIO */

    .container-form
    {
        margin-left: 25%;
        margin-right: 25%;
    }

}