@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #010409;

    font-family: "DM Sans", serif;
}

:root
{
    --cor-principal: #3271D0;
}

/* ESTILIZAÇÃO DO PRIMEIRO BLOCO (FOTO, CAIO NOBILE, DEV, GIT ,INSTA E LINKEDIN */

.banner {
    width: 100%;
    height: 140px;
    z-index: 3;
}


.container-introducao
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 50px; */
    z-index: 1;
    
    background-color: transparent;
    position: relative;
    right: 250px;
    bottom: 80px;
}

.container-titulo {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.container-introducao h1,p
{
    color: white;
}

.container-introducao p
{
    position: relative;
    top: 35px;
    right: 180px;
}

.container-introducao h1
{
    font-size: 35px;
    margin-left: 20px;
}

.img-caio
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 15px;
    object-fit: cover;

    /* BORDA AZUL DA IMAGEM */
    border: 2px solid var(--cor-principal);
    padding: 10px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.img-caio:hover
{
    transform: scale(1.04);
}

.icons
{
    display: flex;
    gap: 15px;
    position: relative;
    bottom: 50px;
}

.icons i {
    font-size: 25px;
}

.botoes-d-c
{
    padding: 10px;
    background-color: var(--cor-principal);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.botoes-d-c:hover
{
    background-color: #1b4e99;
}

.conteudo-botoes
{
    margin-top: 25px;
    margin-bottom: 230px;
}


.icons a
{
    transition: 0.3s ease-in-out;
}

.icons a:hover
{
    transform: scale(1.1);
}

/* ESTILIZAÇÃO DO SEGUNDO BLOCO (SOBRE MIM) */

.h1-sobremim
{
    color: white;
    margin: 20px;
    /* border-bottom: 2px solid var(--cor-principal); */
    text-align: center;
}

.conteudo-sobremim
{
    margin: 20px;
    text-align: center;
}

/* ESTILIZAÇÃO DO TERCEIRO BLOCO (SKILLS) */

.h1-skills
{
    color: white;
    margin: 20px;
    text-align: center;
    /* border-bottom: 2px solid var(--cor-principal); */
}

.conteudo-skills
{
    margin: 20px;
}

.itens-skills {
    color: white;
}

.itens-skills i {
    font-size: 16px;
}

.itens-skills i, span {
    background-color: #111314;
    padding: 10px;
    border-radius: 6px;
}

.itens-skills span {
    padding: 7px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* .progress
{
    background-color: #86666627;
    border-radius: 8px;
} */

/* ESTILIZAÇÃO DO QUARTO BLOCO (EXPERIENCIA PROFISSIONAL) */

.h1-experiencia
{
    color: white;
    border-bottom: 2px solid var(--cor-principal);
    margin: 20px;
}

.empresas h3
{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.empresas p
{
    color: white;
    margin-left: 20px;
}

/* ESTILIZAÇÃO QUINTO BLOCO (PROJETOS) */

.h1-projetos
{
    margin: 20px;
    color: white;
    border-bottom: 2px solid var(--cor-principal);
}

.projetos img
{
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    border-radius: 12px;

    transition: 0.3s ease-in-out;
}

.projetos img:hover
{
    transform: scale(1.02);
}

.projetos h3
{
    margin-left: 20px;
    color: white;
}

.conteudo-projetos
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-mostrarmais
{
    margin: 20px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--cor-principal);
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
}

.btn-mostrarmais:hover
{
    background-color: #1b4e99;
}


/* ESTILIZAÇÃO DO SEXTO BLOCO (FORMULÁRIO) */

.h1-contato
{
    color: white;
    margin: 20px;
    border-bottom: 2px solid var(--cor-principal);
}


form
{
    color: white;
    margin: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo-form input
{
    color: white;
    border: 1px solid var(--cor-principal);
    outline: none;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.conteudo-form textarea
{
    color: white;
    border: 1px solid var(--cor-principal);
    outline: none;
    padding: 5px;
    border-radius: 6px;
}

.btn-enviar
{
    margin-top: 20px;
    background-color: var(--cor-principal);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-enviar:hover
{
    background-color: #1b4e99;
}


/* FOOTER */

footer p
{
    margin-top: 50px;
    background-color: rgba(51, 30, 124, 0.952);
    text-align: center;
    padding: 20px;
}

/* APLICANDO RESPONSIVIDADE */

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .conteudo-projetos
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .conteudo-experiencia
    {
        display: flex;
        flex-wrap: wrap;
    }

    
} 

@media only screen and (min-width: 800px) and (max-width: 1440px)
{
    /* SOBRE MIM */
    .container-sobremim
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* SKILLS */
    .container-skills
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* EXPERIENCIA */
    .container-experiencia
    {
        margin-left: 10%;
        margin-right: 10%;
    }

    .conteudo-experiencia
    {
        display: flex;
        flex-wrap: wrap;
    }

    /* PROJETOS */

    .container-projetos
    {
        margin-left: 10%;
        margin-right: 10%;
    }

    .conteudo-projetos
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projetos img
    {
        width: 290px;
        height: 290px;
    }

    .projetos img
    {
        width: 280px;
        height: 280px;
    }

    /* FORMULARIO */

    .container-form
    {
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media only screen and (min-width: 1440px) and (max-width: 2500px)
{
    /* SOBRE MIM */
    .container-sobremim
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }

    /* SKILLS */
    .container-skills
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }

    /* EXPERIENCIA */
    .container-experiencia
    {
        margin-left: 25%;
        margin-right: 25%;
    }

    .conteudo-experiencia
    {
        display: flex;
        flex-wrap: wrap;
    }

    /* PROJETOS */

    .container-projetos
    {
        margin-left: 25%;
        margin-right: 25%;
    }

    .conteudo-projetos
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projetos img
    {
        width: 320px;
        height: 320px;
    }

    /* FORMULARIO */

    .container-form
    {
        margin-left: 25%;
        margin-right: 25%;
    }

}